<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team6.mapper.DietLogMapper">

    <resultMap id="DietLogResultMap" type="com.team6.pojo.DietLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="calories_kcal" property="caloriesKcal"/>
        <result column="eaten_at" property="eatenAt"/>
    </resultMap>

    <insert id="insertDietLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_user_diet_log (user_id, product_id, calories_kcal, eaten_at)
        VALUES (#{userId}, #{productId}, #{caloriesKcal}, #{eatenAt})
    </insert>

</mapper>
