<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team6.mapper.HealthInfoRecordMapper">

    <resultMap id="healthInfoRecordResultMap" type="com.team6.pojo.HealthInfoRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="weight" property="weight"/>
        <result column="height" property="height"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="bmi" property="bmi"/>
        <result column="bmr" property="bmr"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insert" parameterType="com.team6.pojo.HealthInfoRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_user_info_record (user_id, nickname, weight, height, age, gender, bmi, bmr, status, created_at)
        VALUES (#{userId}, #{nickname}, #{weight}, #{height}, #{age}, #{gender}, #{bmi}, #{bmr}, #{status}, #{createdAt})
    </insert>

</mapper>
