<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team6.mapper.NutritionRecordMapper">

    <resultMap id="nutritionRecordResultMap" type="com.team6.pojo.NutritionRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="energy_kcal" property="energyKcal"/>
        <result column="fat" property="fat"/>
        <result column="saturated_fat" property="saturatedFat"/>
        <result column="carbohydrates" property="carbohydrates"/>
        <result column="sugars" property="sugars"/>
        <result column="fiber" property="fiber"/>
        <result column="proteins" property="proteins"/>
        <result column="salt" property="salt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="record_date" property="recordDate"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_user_info_nutrition_record (user_id, energy_kcal, fat, saturated_fat, carbohydrates, sugars, fiber, proteins, salt, updated_at, record_date)
        VALUES (#{userId}, #{energyKcal}, #{fat}, #{saturatedFat}, #{carbohydrates}, #{sugars}, #{fiber}, #{proteins}, #{salt}, CURRENT_TIMESTAMP, #{recordDate})
    </insert>

</mapper>
